* {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: aliceblue;
  font-size: 75px;
}
